@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

  body {
    font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
    background: linear-gradient(30deg, #182C51, #09101E);
    margin: 0;
    overflow: hidden;
    height: 100vh;
  }
  
  h1 {
    font-size: 5em;
    color: white;
    margin:0;
    /* text-transform: uppercase; */
  }

  #heading {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  #heading.loaded {
    transition: 1s cubic-bezier(.77,0,.175,1).2s;
    transform: translateY(-100%);
  }

  #flex-nav {
    display: none;
    background-image: linear-gradient(to right top, #172c51, #1a345b, #1d3d66, #1f4670, #214f7b);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -100;
  }

  .flex-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }

  .flex-nav__item {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-nav__item a {
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    z-index: 1000;
  }

  .name {
    margin-left: 40px;
    line-height: 60px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    display: inline-block;
  }

  .wrap {
    float: right;
    padding: 0%;
    margin-right: 40px;
    line-height: 60px;
    display: flex;
    justify-content: space-evenly;
    min-width: 100px;
  }

  .icons {
    display:flex;
    justify-content: space-between;
    font-size: 30px;
    display: block;
  }
  .icons > a {
    padding: 0px 10px;
  }

  i {
      color: white;
  }
  
  .fa-linkedin:hover {
    color: #0e76a8;
  }

  .fa-github:hover {
    color:#969696;
  }

  .fa-instagram:hover {
    color: #d6249f;
  }

  #menuBtn__icon:hover {
    color: #C7938B;
  }

  .menuIcon {
    padding: 0px 10px 0px 30px;
    font-size: 30px;
  }

  .main__section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .smooth {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    opacity: 0;
  }

  .smooth.loaded {
    animation: animate 2s cubic-bezier(.78,0,.89,.23) forwards;
  }

  @keyframes animate {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  .main-section-left {
    margin: 0%;
    padding: 0%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section-left p {
    color: white;
    font-size: 20px;
    padding: 0 40px;
    text-align: justify;
  }

  .main-section-right {
    margin: 0%;
    padding: 0%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.moon {
  position: relative;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  background: linear-gradient(30deg, #13223F, #0e1a30);
}

.moon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #C7938B;
  animation: 3.2s crescent linear infinite alternate;
  z-index: -1;
  display: block;
}

@keyframes crescent {
  0% {
    transform: translate(-30px, 30px) scale(0.9);
    box-shadow: none;
  }
  50% {
    transform: translate(0, 0) scale(1.02);
    box-shadow: 0 0 10px #F9F3F2, 0 0 80px 8px #C7938B;
  }
  100% {
    transform: translate(30px, -30px) scale(0.9);
    box-shadow: none;
  }
}

#mapContainer {
  margin: 60px 0px;
  padding: 0%;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactForm input {
  width: 100%;
  height: 50px;
  border: 0;
  background-image: linear-gradient(to right top, #172c51, #1a345b, #1d3d66, #1f4670, #214f7b);
  font-size: 16px;
  color: #8d8d8d;
  box-sizing: border-box;
  padding: 10px;
}

#contactForm textarea {
  width: 100%;
  height: 100px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right top, #172c51, #1a345b, #1d3d66, #1f4670, #214f7b);
  font-size: 16px;
  color: #8d8d8d;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
  padding: 10px;
  resize: none;
}

#email {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#email input {
  margin-bottom: 10px;
}

#dr {
  margin-right: 10px;
}

#skillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.percent {
  color: #999999;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
}

.progress-bar {
  width: 100%;
  height: 21px;
  background: #111111;
  border-radius: 13px;
  padding: 3px;
  box-sizing: border-box;
}

.progress {
  width: 30%;
  height: 15px;
  background: #f60d54;
  border-radius: 13px;
}

.fa-html5, .fa-css3-alt, .fa-git, .fa-js, .fa-react {
  font-size: 50px;
  padding-right: 20px;
}

.fa-html5 {
  color: #C35A15;
}

.fa-css3-alt {
  color: #153EC3;
}

.fa-js {
  color: #D8E82B;
}

.fa-react {
  color: #61dbfb;
}

.tooltip #tooltiptext {
  visibility: hidden;
  width: 200px;
  font-size: 12px;
  /* background: linear-gradient(to right top, #172c51, #1a345b, #1d3d66, #1f4670, #214f7b); */
  background: #C7938B;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover #tooltiptext {
  visibility: visible;
  transform: translate(-120px, 50px);
}

.scene {
  perspective: 600px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateX(-50deg) rotateY(45deg); */
  font-size: 1.5em;
  animation: spincube 12s ease-in-out infinite;
}

.cube__face {
  position: absolute;
  width: 250px;
  height: 250px;
  
  text-align: center;
  line-height: 2em;
  color: white;

  background: rgba(199, 147, 139, 0.788);
  border: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube__face--front { 
  transform: rotateY(0deg) translateZ(125px); 
}
.cube__face--top { 
  transform: rotateX(90deg) translateZ(125px); 
}
.cube__face--right { 
  transform: rotateY(90deg) translateZ(125px); 
}
.cube__face--left { 
  transform: rotateY(-90deg) translateZ(125px); 
}
.cube__face--bottom { 
  transform: rotateX(-90deg) translateZ(125px); 
}
.cube__face--back { 
  transform: rotateY(-180deg) translateZ(125px); 
}

@keyframes spincube {
  /* right */
  16% { transform: rotateY(-90deg); }
  /* top */
  33% { transform: rotateX(-90deg); }
  /* back */
  50% { transform: rotateY(180deg); }
  /* left */
  66% { transform: rotateY(90deg); }
  /* bottom */
  83% { transform: rotateX(90deg); }
}